html {
  font-size: 10px;
  font-weight: 300;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
button:focus,
input:focus,
select:focus,
textarea:focus {
  outline: none;
}
input[type=data]::-webkit-inner-spin-button,
input[type=data]::-webkit-outter-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outter-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.show {
  display: block;
}
.hide {
  display: none;
}
input {
  -webkit-border-radius: 0;
  border-radius: 0;
}
i.material-icons {
  vertical-align: middle;
  position: relative;
  top: -1px;
}
.mainContainer {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-weight: 400;
  background: white;
}
.mainContainer .navbar {
  position: absolute;
  width: 8rem;
  height: 100%;
  background: black;
}
.mainContainer .navbar .logo {
  position: absolute;
  width: 6rem;
  height: 6rem;
  top: 2rem;
  left: 1rem;
  border-radius: 50%;
  background: white;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  line-height: 6rem;
}
.mainContainer .navbar .image {
  position: absolute;
  width: 4rem;
  top: 10rem;
  left: 2rem;
}
.mainContainer .menus {
  z-index: 1;
  position: absolute;
  width: 28rem;
  top: 0rem;
  bottom: 0;
  box-sizing: border-box;
  padding-top: 1rem;
  background-color: #000000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}
.mainContainer .menus .logo img{
  width: 100%;
}
.mainContainer .menus .menu {
  position: relative;
  width: 100%;
  height: 5rem;
  line-height: 5rem;
  float: left;
  box-sizing: border-box;
  padding-left: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.mainContainer .menus .menu .logo {
  position: absolute;
  width: 2rem;
  left: 3rem;
  top: 50%;
  transform: translateY(-50%);
}
.mainContainer .menus .menu .text {
  font-size: 2rem;
  color: white;
}
.mainContainer .menus .menu .text i{
  color: transparent;
}
.mainContainer .menus .menu .text i.active{
  color: red
}
.mainContainer .menus .copyright{
  position: absolute;
  bottom: 3rem;
  color: white;
  text-align: center;
  width: 100%;
}
.mainContainer .dashboard {
  z-index: 0;
  position: absolute;
  left: 28rem;
  height: 100%;
  right: 0;
  background: #ffffff;
  overflow: auto;
}
.mainContainer .dashboard .header {
  position: absolute;
  width: 100%;
  height: 6rem;
  line-height: 6rem;
  font-size: 3rem;
  font-weight: 600;
  box-sizing: border-box;
  padding-left: 1.5%;
}
.mainContainer .dashboard .header .sub-text {
  position: absolute;
  width: auto;
  height: auto;
  top: 60%;
  transform: translateY(-50%);
  right: 1.6%;
  font-size: 1.4rem;
  color: gray;
  cursor: pointer;
}
.mainContainer .dashboard .charts {
  position: absolute;
  widtH: 100%;
  height: 54rem;
  top: 0;
  box-sizing: border-box;
  background-color: #bc010e;
}
.mainContainer .dashboard .charts .chart {
  position: relative;
  width: 31.34%;
  height: 46rem;
  float: left;
  background: #bc010e;
  margin-left: 1.5%;
  margin-top: 3rem;
}
.mainContainer .dashboard .charts .chart .title{
  text-align: center;
  font-size: 2rem;
  color: white;
}
.mainContainer .dashboard .charts .chart .sales-value{
  text-align: center;
  font-size: 3rem;
  color: white;
  margin-bottom: 0;
}
.mainContainer .dashboard .charts .chart .cc {
  position: absolute;
  width: 100%;
  height: 37rem;
}
.mainContainer .dashboard .charts .chart .download {
  position: absolute;
  width: auto;
  right: 1.5rem;
  bottom: 2.5rem;
  color: gray;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}
.mainContainer .dashboard .charts .desc {
  font-size: 1rem;
  color: white;
  text-align: right;
  float: right;
  padding-right: 3rem;
  margin: 1.5rem 0;
}
.mainContainer .dashboard .sales .title-content p{
  width: 100%;
  float: left;
  font-size: 3rem;
  font-weight: bold;
}
.mainContainer .dashboard .sales .controls{
  float: right;
}
.mainContainer .dashboard .sales .controls i{
  color: #bc010e;
  font-size: 6rem;
  margin: 0 1rem;
  background: #d3d2d2;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
.mainContainer .dashboard .sub-header-1 {
  position: absolute;
  width: 64%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  font-weight: 400;
  box-sizing: border-box;
  margin-left: 1.5%;
  top: 31rem;
}
.mainContainer .dashboard .sub-header-2 {
  position: absolute;
  width: 31.34%;
  height: 6rem;
  line-height: 6rem;
  font-size: 2rem;
  font-weight: 400;
  box-sizing: border-box;
  margin-left: 1.5%;
  top: 31rem;
  left: 65.67%;
}
.mainContainer .dashboard .sales {
  position: relative;
  height: 40rem;
  line-height: 6rem;
  padding: 0 3rem;
  top: 54rem;
  background: white;
}

.mainContainer .dashboard .sales .salesTrends {
  position: absolute;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  color: gray;
  font-size: 1.5rem;
  line-height: 5rem;
  padding-left: 1.5rem;
}
.mainContainer .dashboard .sales .charts {
  position: absolute;
  width: 100%;
  height: 14rem;
  top: 4rem;
}
.mainContainer .dashboard .sales .charts .chart {
  position: relative;
  width: 31.34%;
  height: 100%;
  float: left;
  margin-left: 1.5%;
  margin-top: 1rem;
}
.mainContainer .dashboard .sales .charts .chart.green {
  background: #1ed31e;
}
.mainContainer .dashboard .sales .charts .chart.blue {
  background: #01318a;
}
.mainContainer .dashboard .sales .charts .chart.orange {
  background: #e7a232;
}
.mainContainer .dashboard .sales .charts .chart .status {
  position: absolute;
  widtH: 100%;
  height: 50%;
}
.mainContainer .dashboard .sales .charts .chart .status .val {
  position: absolute;
  width: auto;
  height: 100%;
  line-height: 7rem;
  font-size: 3rem;
  color: white;
  left: 1.5rem;
}
.mainContainer .dashboard .sales .charts .chart .status .img {
  position: absolute;
  height: 5rem;
  top: 1rem;
  right: 1.5rem;
}
.mainContainer .dashboard .sales .charts .chart .text {
  position: absolute;
  widtH: 100%;
  height: 50%;
  top: 50%;
}
.mainContainer .dashboard .sales .charts .chart .text .line {
  position: absolute;
  widtH: 100%;
  height: 4rem;
  font-size: 2rem;
  line-height: 3rem;
  box-sizing: border-box;
  padding-left: 1.5rem;
  color: white;
}
.mainContainer .dashboard .sales .charts .chart .text .percent {
  position: absolute;
  widtH: 100%;
  height: 3rem;
  top: 4rem;
  font-size: 1.5rem;
  line-height: 1rem;
  box-sizing: border-box;
  padding-left: 1.5rem;
  color: white;
}
.mainContainer .dashboard .sales .subsInfo {
  position: absolute;
  width: 100%;
  height: 3rem;
  box-sizing: border-box;
  color: gray;
  font-size: 1.5rem;
  line-height: 5rem;
  padding-left: 1.5rem;
  top: 20rem;
}
.mainContainer .dashboard .sales .usersContainer {
  position: absolute;
  top: 24rem;
  bottom: 0;
  width: 100%;
}
.mainContainer .dashboard .sales .usersContainer .ucHeader {
  position: absolute;
  height: 7rem;
  width: 100%;
}
.mainContainer .dashboard .sales .usersContainer .ucHeader .filter {
  position: relative;
  widtH: auto;
  height: 5rem;
  margin-top: 1rem;
  box-sizing: border-box;
  float: left;
  margin-left: 1.5rem;
  cursor: pointer;
}
.mainContainer .dashboard .sales .usersContainer .ucHeader .filter.selected {
  border-bottom: 2px solid red;
}
.mainContainer .dashboard .sales .usersContainer .ucHeader .search {
  position: absolute;
  width: 30rem;
  height: 4rem;
  top: 1.5rem;
  right: 2.5rem;
  border: 1px solid gray;
  border-radius: 3rem;
  outline: none;
  box-sizing: border-box;
  padding-left: 1rem;
}
.mainContainer .dashboard .sales .usersContainer .ucHeader .searchIcon {
  position: absolute;
  height: 3rem;
  top: 2rem;
  right: 3.5rem;
}
.mainContainer .dashboard .sales .usersContainer .users {
  position: absolute;
  width: 100%;
  top: 7rem;
  bottom: 1.5rem;
  overflow: auto;
}
.mainContainer .dashboard .sales .usersContainer .users .user {
  position: relative;
  width: 100%;
  height: 7rem;
  float: left;
  line-height: 7rem;
  font-size: 1.8rem;
}
.mainContainer .dashboard .sales .usersContainer .users .user .name {
  position: relative;
  width: 33.33%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  padding-left: 2rem;
}
.mainContainer .dashboard .sales .usersContainer .users .user .name .logo {
  position: absolute;
  width: 5rem;
  height: 5rem;
  top: 1rem;
  left: 1rem;
  border-radius: 50%;
  line-height: 5rem;
  color: white;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  background: black;
}
.mainContainer .dashboard .sales .usersContainer .users .user .name .logo.icon {
  background: none;
  height: 3rem;
  top: 2rem;
}
.mainContainer .dashboard .sales .usersContainer .users .user .name .text {
  position: absolute;
  left: 7rem;
  right: 0;
  height: 100%;
}
.mainContainer .dashboard .sales .usersContainer .users .user .name .text.number {
  left: 6rem;
}
.mainContainer .dashboard .downloads {
  position: relative;
  height: 30rem;
  line-height: 6rem;
  padding: 0 3rem;
  top: 54rem;
  background: white;
}
.mainContainer .dashboard .downloads p.title {
  width: 100%;
  float: left;
  font-size: 3rem;
  font-weight: bold;
}
.mainContainer .dashboard .reports {
  position: relative;
  width: 100%;
}
.mainContainer .dashboard .reports .report {
  position: relative;
  float: left;
  background: black;
  color: white;
  width: calc(25% - 2rem);
  margin: 0 1rem;
}
.mainContainer .dashboard .reports .report .reportHeader {
  width: 100%;
  line-height: 4rem;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  margin: 2rem 0;
}
.mainContainer .dashboard .reports .report .reportHeader i{
  color: red;
  cursor: pointer;
}
.mainContainer .dashboard .reports .report .date {
  position: absolute;
  widtH: 100%;
  height: 4rem;
  line-height: 3rem;
  font-size: 1.5rem;
  font-weight: 400;
  top: 5rem;
  box-sizing: border-box;
  padding-left: 1.5rem;
  color: gray;
  border-bottom: 1px solid #e4e3e3;
}
.mainContainer .dashboard .reports .report .buttons {
  position: absolute;
  widtH: 100%;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: 400;
  top: 9rem;
  color: gray;
  text-align: center;
}
.mainContainer .dashboard .reports .report .buttons .button {
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  cursor: pointer;
}
.mainContainer .dashboard .reports .report .buttons .button.border {
  box-sizing: border-box;
  border-right: 1px solid #e4e3e3;
}
.mainContainer .dashboard .loader {
  position: absolute;
  widtH: 100%;
  height: 15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mainContainer .dashboard .loader .lImg {
  position: absolute;
  height: 10rem;
  left: 50%;
  transform: translateX(-50%);
}
.mainContainer .dashboard .loader .text {
  position: absolute;
  widtH: 100%;
  height: 5rem;
  top: 10rem;
  line-height: 5rem;
  color: #4b3f3f;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: center;
}
.mainContainer .dashboard .allOrdersContainer {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.mainContainer .dashboard .allOrdersContainer .searchArea {
  position: absolute;
  width: 100%;
  height: 8rem;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .filter {
  position: absolute;
  width: 20rem;
  right: 2rem;
  font-size: 2rem;
  line-height: 6rem;
  height: 6rem;
  top: 0.5rem;
  background: white;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .filter .text {
  text-align: center;
  width: 18rem;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .filter .dropdownButton {
  position: absolute;
  height: 12rem;
  top: -2rem;
  right: -3rem;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .filter .dropdown {
  position: absolute;
  width: 20rem;
  height: auto;
  display: none;
  background: white;
  box-sizing: border-box;
  border-left: 1px solid #bcb5b5;
  border-right: 1px solid #bcb5b5;
  border-top: 1px solid #bcb5b5;
  box-shadow: -1px 4px 21px -5px rgba(0, 0, 0, 0.27);
  z-index: 1;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .filter .dropdown .list {
  position: relative;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  padding-left: 1rem;
  box-sizing: border-box;
  line-height: 5rem;
  text-transform: uppercase;
  border-bottom: 1px solid #bcb5b5;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .inputArea {
  position: relative;
  background: white;
  padding: 0 1rem;
}
.inputArea-1::placeholder {
  font-size: 2rem;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .inputArea .inputArea-1 {
  width: calc(100% - 50px);
  outline: none;
  border: none;
  font-size: 2rem;
  text-align: right;
}
.mainContainer .dashboard .allOrdersContainer .searchArea .searchButton {
  cursor: pointer;
  font-size: 40px;
}
.mainContainer .dashboard .allOrdersContainer .orderHeader {
  position: absolute;
  left: 0;
  right: 0;
  padding: 0 1rem;
  height: 10rem;
  top: 8rem;
  background: black;
  color: white;
}
.mainContainer .dashboard .allOrdersContainer .orderHeader .col {
  position: relative;
  float: left;
  width: 14%;
  height: 100%;
  line-height: 9rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
.mainContainer .dashboard .allOrdersContainer .orders {
  position: absolute;
  top: 18rem;
  bottom: 8rem;
  left: 0;
  right: 0;
  overflow: auto;
}
.mainContainer .dashboard .allOrdersContainer .orders .order {
  position: relative;
  width: calc(100% - 3rem);
  height: 7rem;
  line-height: 7rem;
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  background: white;
  margin: 1.5rem;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.27);
}
.mainContainer .dashboard .allOrdersContainer .orders .order .col {
  position: relative;
  width: 14%;
  float: left;
  height: 7rem;
}
.mainContainer .dashboard .allOrdersContainer .orders .order .col.col-6 {
  cursor: pointer;
}
.mainContainer .dashboard .allOrdersContainer .export {
  position: absolute;
  width: 5rem;
  height: 5rem;
  right: 2rem;
  bottom: 1rem;
  cursor: pointer;
}
.mainContainer .dashboard .allOrdersContainer .export .eb {
  position: absolute;
  width: 4rem;
  top: 1rem;
  left: 1rem;
}
.mainContainer .dashboard .allOrdersContainer .title-content {
  bottom: 1rem;
  width: calc(100% - 3rem);
  padding: 0 1.5rem;
  position: absolute;
}
.mainContainer .dashboard .allOrdersContainer .title-content p{
  line-height: 40px;
}
.mainContainer .dashboard .allOrdersContainer .title-content a{
  float: left;
  font-size: 1.5rem;
  color: red;
  text-decoration: underline;
  font-weight: 600;
}
.mainContainer .dashboard .allOrdersContainer .controls{
  float: right;
}
.mainContainer .dashboard .allOrdersContainer .controls i{
  color: #bc010e;
  font-size: 6rem;
  margin: 0 1rem;
  background: #d3d2d2;
  border-radius: 50%;
  cursor: pointer;
  float: right;
}
.mainContainer .dashboard .productsContainer .orderHeader .col {
  width: 20%;
}

.mainContainer .dashboard .productsContainer .orders .order .col {
  width: 20%;
  text-transform: none;
}

.mainContainer .dashboard .productsContainer .col span{
  width: 50% !important;
  text-align: center;
  margin: 0 auto;
  cursor: pointer;
}

.mainContainer .dashboard .orderDetailContainer {
  position: absolute;
  width: 100%;
  top: 6rem;
  bottom: 0;
}
.mainContainer .dashboard .orderDetailContainer .sub-header {
  position: relative;
  width: 100%;
  height: 6rem;
  float: left;
  line-height: 6rem;
  font-size: 2rem;
  box-sizing: border-box;
  padding-left: 2rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items {
  position: relative;
  width: 96%;
  height: auto;
  float: left;
  box-sizing: border-box;
  margin-left: 2%;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item {
  position: relative;
  width: 100%;
  height: 12rem;
  float: left;
  background: white;
  margin-top: 2rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li {
  position: relative;
  height: 100%;
  float: left;
  font-size: 1.8rem;
  line-height: 12rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li.w10 {
  width: 10%;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li.w20 {
  width: 20%;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-1 {
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  top: 3.5rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-1.b {
  font-weight: 600;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-2 {
  position: absolute;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  bottom: 3.5rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-2.rca {
  cursor: pointer;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-2.nrca {
  cursor: pointer;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .row-2 .edit-icon {
  position: relative;
  height: 2rem;
  top: 50%;
  transform: translateY(-50%);
  left: 1rem;
}
.mainContainer .dashboard .orderDetailContainer .line-items .line-item .li .image {
  position: absolute;
  height: 8rem;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}
.mainContainer .dashboard .orderDetailContainer .information {
  position: relative;
  width: 96%;
  height: auto;
  float: left;
  box-sizing: border-box;
  margin-left: 2%;
  margin-top: 2rem;
  background: white;
  padding-bottom: 2rem;
}
.mainContainer .dashboard .orderDetailContainer .information .info-header {
  position: relative;
  width: 100%;
  height: 6rem;
  float: left;
  line-height: 6rem;
  font-size: 2.5rem;
  box-sizing: border-box;
  padding-left: 2rem;
  font-weight: 600;
}
.mainContainer .dashboard .orderDetailContainer .information .info-item {
  position: relative;
  width: 50%;
  height: auto;
  line-height: 2rem;
  font-size: 1.8rem;
  float: left;
  box-sizing: border-box;
  padding-left: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  color: #514c4c;
}
.mainContainer .pop-up-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.mainContainer .pop-up-container .pop-up {
  position: absolute;
  width: 40rem;
  height: 25rem;
  border-radius: 2px;
  border: 1px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 0px 43px 2px;
}
.mainContainer .pop-up-container .pop-up .pop-up-header {
  position: absolute;
  width: 100%;
  height: 5rem;
  font-size: 2.5rem;
  line-height: 5rem;
  box-sizing: border-box;
  padding-left: 1rem;
  background: black;
  color: white;
  font-weight: 600;
}
.mainContainer .pop-up-container .pop-up .pop-up-area {
  position: absolute;
  width: 100%;
  top: 5rem;
  bottom: 5rem;
  background: #373636;
  font-size: 2rem;
  font-weight: 400;
}
.mainContainer .pop-up-container .pop-up .pop-up-area .pop-up-input {
  position: absolute;
  width: 80%;
  height: 5rem;
  font-size: 2rem;
  line-height: 5rem;
  box-sizing: border-box;
  padding-left: 1rem;
  background: #373636;
  color: white;
  font-weight: 600;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 2px;
}
.mainContainer .pop-up-container .pop-up .pop-up-footer {
  position: absolute;
  width: 100%;
  height: 5rem;
  font-size: 2.5rem;
  line-height: 5rem;
  box-sizing: border-box;
  bottom: 0;
  border-top: 1px solid black;
  color: black;
  font-weight: 600;
  background: #373636;
}
.mainContainer .pop-up-container .pop-up .pop-up-footer .pop-up-btn {
  position: relative;
  width: 50%;
  height: 100%;
  float: right;
  text-align: center;
}
.mainContainer .pop-up-container .pop-up .pop-up-footer .pop-up-btn.btn1 {
  background: black;
  color: white;
}
.mainContainer .addProductContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: none;
}
.mainContainer .addProductContainer .pop-up {
  position: absolute;
  width: 50rem;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #000000;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);
  padding: 8rem;
}
.mainContainer .addProductContainer .pop-up label{
  color: white;
  font-size: 3rem;
}
.mainContainer .addProductContainer .pop-up .p-row {
  position: relative;
  width: 100%;
  float: left;
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
  height: 5rem;
  line-height: 5rem;
  border: none;
  border-radius: 0;
  background: black;
  border-bottom: 1px solid white;
  margin-bottom: 12rem;
  -webkit-appearance: none;
}
.mainContainer .addProductContainer .pop-up .p-row.c{
  text-transform: uppercase;
}
.mainContainer .addProductContainer .pop-up .p-row .check {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 0.8rem;
  left: 1rem;
  border: 1px solid;
}
.mainContainer .addProductContainer .pop-up .p-row .check.selected {
  background: black;
}
.mainContainer .addProductContainer .pop-up .p-row .text {
  position: absolute;
  left: 5rem;
  right: 0;
  text-transform: capitalize;
}
.mainContainer .addProductContainer .pop-up .p-row.nob {
  border: none;
}
.mainContainer .addProductContainer .pop-up .p-row.f {
  color: white;
  text-align: center;
  font-weight: 600;
  width: 35%;
  padding: 0;
  border: solid 3px #ffffff;
  float: right;
  cursor: pointer;
}
.mainContainer .addProductContainer .pop-up .p-row.cancel {
  background: white;
  color: black;
  padding: 0;
  font-weight: 400;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: gray;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: #0099ff;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: #0099ff;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: #0099ff;
}
